@CHARSET "ISO-8859-1";

head { padding-top: 70px; }
body 
{ 
	background-color:#BDDEAD; 
	text-color: green;

}

/*
.tablaABM {
	position:fixed;
	align:center;
	margin-left:-150px;
	margin-top:-150px;
	top:5%;
	left:15%;
	width:50%;
	padding:30px;
} */

.cerrarSesion {
	align:right;
	text-align:right;
}

.divABM {
 position:fixed;
 width:50%;	
 left:35%;
 top:10%;
}

.navbar {
	color: green;
}
.total {
	text-align:right;
}

.formulario {
  position:fixed;
  align:center;
  margin-left:-150px; /* half of width */
  margin-top:-150px;  /* half of height */
  top:30%;
  left:15%;
  padding:30px;
	
}

.catalogo {
  width: 310px;
  position:fixed;	
  margin-left:-150px; /* half of width */
  margin-top:-150px;  /* half of height */
  top:50%;
  left:30%;
  border-style:solid;
  border-width:medium;
  border-color:green;
  padding:30px;
}

.elCarrito {	
  width:230px;

  font-size:12px;
}

.bordeCarrito {
  position:fixed;
  margin-left:-150px; /* half of width */
  margin-top:-150px;  /* half of height */
  top:35%;
  left:85%;
  border-style:dotted;
  border-width:medium;
  border-color:green;
	
}

.agregar {
	color:green;
	text-decoration:underline;
}

.eliminar {
	color:green;
	text-decoration:underline;
}

.editar {
	color:green;
	text-decoration:underline;
}

.pagination {
		color:green;
		text-decoration:underline;
}

.errorLogin {
	font-size: 18px;
	text-align:center;
	font-family: verdana;
	
}

